header{
    padding-top: 12px;
    margin-top: 10px;
}
header nav a{
    background-color: rgb(239, 84, 183);
    margin-bottom: 12px;
    font-size: 16px;
    color: black;
    border-radius: 18px;
    padding: 6px 12px;
    cursor: pointer;
}
header nav a:hover{
    font-size: 18px;
    color: white;
    background-color:rgb(236, 44, 166); ;
}

